<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="category_container">
        <article class="item">
          <img src="" alt="image" />
        </article>
      </div>
    </main>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
