<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    <main>
      <!-- Juego del A単o -->
      <section class="margin-1 padding-1 image">
        <!-- <h1 class="margin-b">Juego del A単o</h1> -->
        <figure>
          <img
            src="/images/elden-ring.jpg"
            alt="juego-del-a単o"
            class="maxw bor-1"
          />
          <figcaption>Juego del A単o</figcaption>
        </figure>
      </section>
      <!-- Juegos destacados -->
      <section class="scroll margin-1 padding-1">
        <h2 class="margin-b">Juegos Destacados</h2>
        <div class="scroll-container flex gap">
          <article>
            <img src="/images/the-sims-4.jpg" alt="" class="maxw bor-10" />
          </article>
          <article>
            <img src="/images/fifa-22.jpeg" alt="" class="maxw bor-10" />
          </article>
          <article>
            <img src="/images/dying-light-2.jpeg" alt="" class="maxw bor-10" />
          </article>
          <article>
            <img src="/images/stray.jpg" alt="" class="maxw bor-10" />
          </article>
          <article>
            <img
              src="/images/god-of-war-ragnarok.jpg"
              alt=""
              class="maxw bor-10"
            />
          </article>
        </div>
      </section>
      <!-- Categorias -->
      <section id="category" class="scroll margin-1 padding-1">
        <h2 class="margin-b">Categorias Destacadas</h2>
        <div class="scroll-container flex gap justify-c-e">
          <article class="card flex w-22 h-5 bor-1">
            <i class="fa-brands fa-space-awesome"></i>
            <h5>Adventure</h5>
          </article>
          <article class="card flex w-22 h-5 bor-1">
            <i class="fa-solid fa-gun"></i>
            <h5>Shooter</h5>
          </article>
          <article class="card flex w-22 h-5 bor-1">
            <i class="fa-solid fa-car-burst"></i>
            <h5>Cars</h5>
          </article>
          <article class="card flex w-22 h-5 bor-1">
            <i class="fa-solid fa-ghost"></i>
            <h5>Indie</h5>
          </article>
        </div>
      </section>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
